@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
 
*{
  font-family: 'Poppins', sans-serif;  
}

 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 988px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("images/ga.jpg");
  background-position: 50% 50%;
  margin: 98px auto 0;
  filter: contrast(120%);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  margin: 55px 402px 0 431px;
  
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 844px;
  margin: 34px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 55px auto 60px;
  padding: 18px 43px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 331px;
    margin-right: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 221px;
    margin-right: 192px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 131px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    
  }

  .u-section-1 .u-text-1 {
    margin-left: 31px;
    margin-right: 2px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

#trabalhos:hover{
  transform: scale(1.1);
  background-color: #172246;
  
}

#trabalhos{
  transition: all 0.6s ease-in-out 0.3s;
  background-color: black;
}

#titulo{
  text-shadow: 10px 10px #172246;
  
}
