html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Calibri Light', calibri, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #5a5a5a;
}
input{
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 25px;
    width: auto;
}
form{
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    width: 600px;
    column-gap: 12px;
    row-gap: 4px;
    align-items: center;
    padding: 0 15px 15px 15px;
    border: 1px solid #10303a40;
    border-radius: 12px;
}

p{
    grid-column: 2/5;
}
form{
    background-color: #a0a0a0;
}
form label{
    text-align: right;
    padding: 8px 0;
    align-self: center;
}

form label[for="gen"]{
    justify-self: left;
    padding: 10px 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px
}

#cor{
    padding: 0;
    margin: 0;
}